
body{
    background-color: #023e8a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
    width: 100%;
    height:100%;
    padding: 0;
    overflow-x: hidden;


}
.container{
    margin-left: 20px;
    margin-right: 20px;

}
.header{

    margin-top: 40px;
 }
 .h{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;

}
h1{
    align-content: center;
}

 .img1{
    width: 280px;
    height: 280px;
    border: solid 3px white;
    border-radius: 1em;
    justify-self:center;
}
 .img2{
    height:220px;
    width:320px;
    margin-right:5px;
    border: solid 3px white;
    border-radius: 1em;
    float: left;
}
 .h2{
    margin-right:30px;
    margin-top: 30px;
    margin-bottom: 30px;

}
 .p1{

    margin-bottom: 5px;
    font-size: 1.35em;
 }
 .h3{
     margin-left: 0px;
 }
.spacing1{
    margin-top: 60px;

}

.content{
    margin-top: 60px;
}
.histplaces{
    margin-top: 60px;
}
.box{
    padding-bottom: 40px;
}

.img3{
    border: solid 3px white;
    border-radius: 1em;
    margin-top: 10px;
    margin-right: 5px;
    margin-left:0px ;
    margin-bottom: 1px;
    height:140px;
    width:140px;
}
.img4{
    border: solid 3px white;
    border-radius: 1em;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 1px;
    height:140px;
    width:140px;
}
.img5{
    border: solid 3px white;
    border-radius: 1em;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 1px;
    height:140px;
    width:140px;

}
 .h8{

    margin-top: 60px;

}
 .p2{
     margin:30px;
     margin-left: 0px;
     margin-right: 0px;
     font-size: 1.35em;
 }

 table, th, td {
     border:2px solid white;
     border-collapse: collapse;
     font-size: 1.15em;

 }
 .table2{

     margin:30px;
     margin-left: 0px;
     margin-right: 0px;
     width: 100%;
     text-align: center;
 }
 .th{
  width: 5%;
  text-align: center;
 }
 .tf{
    width: 5%;
    text-align: center;
 }

 .row{
    display: flex;
    width: auto;
 }
 .row1{
     float:left;

}
.row11{
    float:left;

}
.row111{
    float:left;

}

 .list1{
     margin-top: 10px;
     margin-right: 5px;
     margin-left: 0px;
     font-size: 1em;

 }
 .list2{
     margin-top: 10px;
     margin-right: 5px;
     font-size: 1em;
 }
 .list3{
     margin-top: 10px;
     margin-right: 0px;
     font-size: 1em;
 }

 h4{
     margin: 30px;
     margin-left: 0px;
     margin-top: 60px;
     font-size: 1.3em;
 }

 .row3{
    float: left;
 }
 .row4{
    float: left;
}
 .row5{
    float: left;
}
.h5{
    margin-bottom: 30px;

}
.h6{
   font-size: 1.8em;

}
.h14{
    font-size: 1.8em;
    padding-top: 3%;

 }
.h7{
    font-size: 1.4em;
}
.h111{
    font-size: 2.4em;
}
.footer{
    height: 70px;
    margin-top: 60px;
    color: #EFF1ED;
    text-align: center;
    padding-top: 10px;
}
@media screen and (min-width: 1300px) {
    .h14{
          padding-top: 5%;
    }
    }

@media screen and (max-width: 750px) {
.h{
    display: grid;
    grid-template-columns:1fr;
    align-items: center;
    justify-items: center;
    font-size: 0.8em;
}
.p1{
    text-align: center;
}
.box{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

}
.img1{
    height:280px;
    width:280px;
}
.img2{
    height:250px;
    width:360px;
    float: none;
}

.img3{
    height:180px;
    width:180px;
}
.img4{
    height:180px;
    width:180px;
}
.img5{
    height:180px;
    width:180px;
}
.row{
    flex-direction: column;
}
.box {

    flex-direction: column;
}
}
h1{
    text-align: center;

}
@media screen and (max-width: 465px){
    .img1{
        height:250px;
        width:250px;
    }
    .img2{
        height:230px;
        width:330px;
        float: none;
    }
    .img3{

        height:150px;
        width:150px;
    }
    .img4{
        height:150px;
        width:150px;

    }
    .img5{
        height:150px;
        width:150px;
    }

}
@media screen and (max-width: 385px){
    .img1{
        height:220px;
        width:220px;
    }
    .img2{
        height:180px;
        width:280px;
        float: none;
    }
}
@media screen and (max-width: 315px){
    .img1{
        height:180px;
        width:180px;
    }
    .img2{
        height:130px;
        width:230px;
        float: none;
    }
}
@media screen and (max-width: 275px){
    .img1{
        height:150px;
        width:150px;
    }
    .img2{
        height:100px;
        width:200px;
        float: none;
    }
}
